/* GENERAL */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--bgColor);
  font-family: var(--mnFont);
  color: var(--text);
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px;
}

.container__center {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  gap: 10px;
}

.divider {
  width: 100%;
  height: 0px;
  border: 1px solid rgba(217, 217, 217, 0.45);
  margin: 10px 0;
}

/* TYPOGRAPHY */
p {
  font-family: var(--ndFont);
  font-size: var(--pSize);
  font-weight: 300;
}

strong {
  font-weight: 800;
}

h1,h2,h3,h4 {
  font-family: var(--mnFont);
  font-style: normal;
  font-weight: 400;
}

h1 { font-size: var(--h1Size); }
h2 { font-size: var(--h2Size); }
h3 { font-size: var(--h3Size); }
h4 { font-size: var(--h4Size); }
h5 { font-size: var(--h5Size); }

.headingv2 {
  font-family: var(--ndFont);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* HEADER */
.header_container {
  display: flex;
  flex-direction: column;
  height: 720px;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0) 14.13%), var(--headerImg);
  background-size: cover;
}

.simpleheader_container {
  display: flex;
  flex-direction: column;
  height: 170px;
}

.header__logo {
  display: flex;
  align-items: flex-end;
  align-self: center;
  margin: 20px;
  height: 100%;
}


/* NAVBAR */
.navbar__container {
  display: flex;
  justify-content: space-between;
  margin: 20px;
}
.wallet__btn {
  color: var(--basic);
  border: 2px solid var(--basic);
  font-family: var(--ndFont);
  font-style: normal;
  text-align: center;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 11px;
  padding: 5px 20px;
  background-color: transparent;
  vertical-align: middle;
  /* background: url(../assets/images/wallet.svg) no-repeat right; */
}

.wallet__btnIcon {
  margin-right: 0;
  margin-left: 5px;
}


/* INTRODUCTION */
.intro__heading, .intro__desc {
  flex-grow: 1;
  flex-basis: 50%;
  padding: 100px 20px;
}

/* FOOTER */
.footer {
  padding: 100px 20px;
}
.footer_copyright {
  font-family: var(--ndFont);
  text-align: center;
  padding: 20px;
}

/* GALLERY  */
.img__gallery{ 
  /* This is the container of the whole gallery */
  display: flex;
  max-width: 1920px;
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
.img__card {
  /* This is the container of each element in the gallery */
  flex-grow: 1;
  flex-basis: 33%;
  height: auto;
  margin: 0;
}
.img__pic {
  width: 100%;
  height: auto;
  object-fit: cover;
  padding: 0;
  margin: 0;
}
.img__name {
  /* div that containes the name of the artwork */
  font-size: var(--h5Size);
  line-height: var(--line);
  height: var(--line);
  padding: 0 20px;
  transform: translateY(var(--move));
  margin-bottom: var(--move);
  text-align: right;
  /* Ellipsis adds dots at the end of the text when it is too long */
  text-overflow: ellipsis;
  /* it stops the container from wrapping the text */
  white-space: nowrap;
  /* hides the text that gets out of the container */
  overflow: hidden;
}

/* TOKEN CARD */
.token__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  width: 100%;
  margin: 0;
}
.token__image{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 50px;
}
.token__info {
  display: flex;
  flex-direction: row;
  gap: 30px;
}
.token__btn {
  width: 100%;
  color: var(--basic);
  border: 1px solid var(--basic);
  font-family: var(--ndFont);
  font-style: normal;
  text-align: center;
  letter-spacing: 0.08em;
  font-weight: 400;
  font-size: 11px;
  padding: 5px 20px;
  margin-top: 10px;
  background-color: transparent;
  vertical-align: middle;
  /* background: url(../assets/images/wallet.svg) no-repeat right; */
}

/* MOBILE */
@media only screen and (max-device-width: 480px) {
  .desktop {
  display: none;
  }       
}